<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href=".\static\css\style1.css">
</head>
<body>
  <div class="container-fluid p-0">
    <input type="checkbox" name="" id="menuBtn">
    <div class="menu_overlay">
      <label for="menuBtn">
        <i class="fas fa-times"></i>
      </label>
      <div class="row-custom row">
        <div class="col-auto">
            <img class="navbar-brand" src="/static/images/2 (1) (1).png" alt="" style="height: 90px;">
        </div>
        <div class="col-auto">
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./date.html">Booking</a></li>
            <li><a href="./login.html">Log Out</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="landing_page">
      <div class="menu">
        <label for="menuBtn">
          <i class="fas fa-bars"></i>
        </label>
      </div>
  
    </div>
  </div>

  <!-- End Navbar -->

  <section class="hero_section">
    <div class="hero_section_details">
    </div>
    <div class="hero_section_card_slider">
      <div class="card_container">
      </div>
    </div>
  </section>

  <main class="m-auto" style="padding-top: 300px; padding-bottom: 150px;">
      <div class="testimonial">
          <div class="slide-row" id="slide">
            <div class="slide-col">
              <h2 class="h2 text-white-50">Customer Reviews</h2>
                  <div class="user-text">
                      <p>"Neverojatna kinematografija i privlečno raskažuvanje. Zadolžitelno gledanje za ljubitelite na triler." - Joker</p>
                      <h2>Marija</h2>
                      <p>Avtor</p>
                  </div>
                  <div class="user-img">
                      <img src="https://user-images.githubusercontent.com/13468728/234031693-6bbaba7d-632c-4d7d-965f-75a76a549ce2.jpg" alt="avatar">
                  </div>
              </div>
  
              <div class="slide-col">
              <h2 class="h2 text-white-50">Customer Reviews</h2>
                  <div class="user-text">
                      <p>"Topol i nostalgičen, ovoj film ja dolovuva suštinata na prijatelstvoto i avanturata. Film so dobro čuvstvo što ve ostava nasmeani." - Super Mario Bros</p>
                      <h2>Jovan</h2>
                      <p>Cementara</p>
                  </div>
                  <div class="user-img">
                      <img src="https://user-images.githubusercontent.com/13468728/234031617-2dfb19ea-01d0-4370-b63b-bb6bdfb4f78e.jpg" alt="avatar">
                  </div>
              </div>
  
              <div class="slide-col">
                <h2 class="h2 text-white-50">Customer Reviews</h2>
                  <div class="user-text">
                      <p>"Remek delo koe predizvikuva razmisluvanje što gi predizvikuva opštestvenite normi. Dzvezdenite izvedbi i volšebniot zaplet go pravat toa zadolžitelno da se vidi." - Ferrari vs Lamborghini</p>
                      <h2>Ile</h2>
                      <p>Makpetrol</p>
                  </div>
                  <div class="user-img">
                      <img src="https://user-images.githubusercontent.com/13468728/234031646-10533999-39e5-4c7b-ab54-d0299b13ce74.jpg" alt="avatar">
                  </div>
              </div>
            
             <div class="slide-col">
              <h2 class="h2 text-white-50">Customer Reviews</h2>
                  <div class="user-text">
                      <p>"Komedija so glasna smea koja ve zabavuva od početok do kraj. Urnebesnata akterska ekipa i duhovit dijalog go pravat komičen skapocen kamen." - DeadPool</p>
                      <h2>Sara</h2>
                      <p>Zara</p>
                  </div>
                  <div class="user-img">
                      <img src="https://github.com/ecemgo/ecemgo/assets/13468728/55116c98-5f9a-4b0a-9fdb-4911b52d5ef3" alt="avatar">
                  </div>
              </div>

          </div>
      </div>
      
      <div class="indicator">
          <span class="btn active"></span>
          <span class="btn"></span>
          <span class="btn"></span>
          <span class="btn"></span>
      </div>
  </main>

    <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Location</h6>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d715.2224880897808!2d21.421101783420678!3d41.99812672979952!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135414494cd0152f%3A0x92728ef3027e8eac!2zUGFya2luZyDigJ5UQyBCdW5qYWtvdmVj4oCc!5e0!3m2!1sen!2smk!4v1685482532181!5m2!1sen!2smk" width="550" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="#">Comedy</a></li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Drama</a></li>
              <li><a href="#">Horror</a></li>
              <li><a href="#">Sci-Fi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Contribute</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
         <a href="#">UACS</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa-brands fa-tiktok"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
<script>
  //Elements
const heroSection = document.querySelector(".hero_section");
const heroSectionDetails = document.querySelector(".hero_section_details");
const cardContainer = document.querySelector(".card_container");

let selectedCardElements = [];
let pressed = false;
let startX;
let startScrollLeft;

function initialize(cards) {
  //Add card card items
  for(let i = 0; i < cards.length; i++) {
    
    let cardElement = createCardElement(cards[i]);
    //The first card when initializing will marked as animated already
    if(i == 0) {
      setHeroSectionBackground(cardElement.style.backgroundImage);
      selectedCardElements.push(cardElement);
      cardElement.remove();

      createCardFullscreenDetails(cards[i].id);
    }
  }

  cardContainer.addEventListener("mousedown", (event) => {
    pressed = true;
    startX = event.clientX;
    startScrollLeft = cardContainer.scrollLeft;
  });

  cardContainer.addEventListener("mouseup", () => {
    cardContainer.style.cursor = "default";
    pressed = false;
  });  

  cardContainer.addEventListener("mousemove", (event) => {
    if (!pressed) return;
    event.preventDefault();

    cardContainer.style.cursor = 'grabbing';

    // How far the mouse has been moved
    const dx = event.clientX - startX;

    // Scroll the element
    cardContainer.scrollLeft = startScrollLeft - dx;
  });
}

function setHeroSectionBackground(backgroundImage) {
  //Transfer image from cardFullscreen to heroSection
  heroSection.style.backgroundImage = backgroundImage;
}

function appendCardContentElements(card, cardElement) {
  const infoDiv = document.createElement("div");
  infoDiv.className = "card_info";

  const cardLocation = document.createElement("p");
  cardLocation.className = "card_info_location";
  cardLocation.innerText = card.location;

  const cardName = document.createElement("h3");
  cardName.className = "card_info_name";
  cardName.innerText = card.name;

  infoDiv.appendChild(cardLocation);
  infoDiv.appendChild(cardName);

  cardElement.appendChild(infoDiv);
}

function createCardElement(card) {
  const cardElement = document.createElement("div");
  cardElement.className = "card slideIn";
  cardElement.style.backgroundImage = "url(" + card.image + ")";
  cardElement.dataset.cardId = card.id;

  cardElement.addEventListener("click", cardClick);
  cardElement.addEventListener("animationend", cardSlideInAnimationEnd);

  appendCardContentElements(card, cardElement);

  cardContainer.appendChild(cardElement);

  return cardElement;
}

function cardSlideInAnimationEnd(event) {
  event.target.classList.remove("slideIn");
}

function cardSlideOutAnimationEnd(event) {
  event.target.remove();
}

function cardClick(event) {
  event.stopPropagation();

  const cardInfo = event.target.querySelector(".card_info");
  cardInfo.classList.add("textSlideOut");
  cardInfo.addEventListener("animationend", cardInfoAnimationEnd);
}

function cardInfoAnimationEnd(event) {
  event.stopPropagation();
  event.target.removeEventListener("animationend", cardInfoAnimationEnd);

  //Get the card element
  const cardElement = event.target.parentElement;

  //Hide clicked card before starting background animation
  cardElement.style.visibility = "hidden";
  //Animate hidden clicked card with slideOut
  cardElement.classList.add("slideOut");
  cardElement.addEventListener("animationend", cardSlideOutAnimationEnd);

  /* If card offsetLef is bigger than the window width, 
    remove (card width + (card margin * 2)) from the offsetLeft value 
    to prevent body horizontal scroll */
  const posLeft = (cardElement.offsetLeft >= window.outerWidth ? 
    (cardElement.offsetLeft - (cardElement.offsetWidth + 32)) :
    cardElement.offsetLeft);

  //Create cardFullscreen
  const cardFullscreen = document.createElement("div");
  cardFullscreen.className = "card_fullscreen";
  cardFullscreen.style.left = posLeft + 'px';
  cardFullscreen.style.top = cardElement.offsetTop + 'px';
  cardFullscreen.style.backgroundImage = cardElement.style.backgroundImage;
  cardFullscreen.dataset.cardId = cardElement.dataset.cardId;
  cardFullscreen.addEventListener("animationend", cardFullscreenAnimationEnd);

  heroSection.appendChild(cardFullscreen);

  //Save into the list of cards already selected
  selectedCardElements.push(cardElement);

  //Start slideIn animation for cards in the slider
  startCardSlideInAnimation(parseInt(cardElement.dataset.cardId));

  //Check if need to add back the previous cliked card to the slider
  if(selectedCardElements.length >= 2) {
    //Get card ID from previous card selected
    const previousCardItem = cards.filter(x => 
      x.id === parseInt(selectedCardElements[0].dataset.cardId))[0];

    //Remove first item from the selectedCardElements array
    selectedCardElements.shift();

    //Add card back to the card slider
    createCardElement(previousCardItem);
  }
}

function cardFullscreenAnimationEnd(event) {
  setHeroSectionBackground(event.target.style.backgroundImage);
  //Add card fullscreen details to the document.
  createCardFullscreenDetails(parseInt(event.target.dataset.cardId));

  //Remove cardFullscreen element
  event.target.remove();
}

function startCardSlideInAnimation(ignoreCardId) {
  const cards = document.querySelectorAll(".card");

  for(let i = 0; i < cards.length; i++) {
    if(parseInt(cards[i].dataset.cardId) === ignoreCardId) {
      continue;
    }

    cards[i].classList.add("slideIn");
  }
}

function createCardFullscreenDetails(cardId) {
  const cardFullscreenDetailsClassName = "card_fullscreen_details";

  //Remov old element with the card details
  const oldCardfullscreenDetailsElement = heroSectionDetails
    .querySelector("." + cardFullscreenDetailsClassName);
    
  if(oldCardfullscreenDetailsElement)
   oldCardfullscreenDetailsElement.remove();


  //Add new element with the card details 
  const card = cards.filter(x => x.id === cardId)[0];

  const cardFullscreenDetails = document.createElement("div");
  cardFullscreenDetails.className = cardFullscreenDetailsClassName;
  
  const cardLocation = document.createElement("p");
  cardLocation.innerText = card.location;

  const cardName = document.createElement("h1");
  cardName.innerText = card.name;

  cardFullscreenDetails.appendChild(cardLocation);
  cardFullscreenDetails.appendChild(cardName);

  heroSectionDetails.appendChild(cardFullscreenDetails);
}

const cards = [{
  id: 1,
  image: "https://wallpaperaccess.com/full/2116417.jpg",
  location: "An exploration of Arthur Fleck, a man disregarded by society.",
  name: "Joker"
},
{
  id: 2,

  image: "https://images5.alphacoders.com/118/1181492.jpg",
  location: "A noble family becomes embroiled in a war for control over the galaxy's most valuable asset.",
  name: "Dune"
},
{
  id: 3,
  image: "https://images3.alphacoders.com/723/thumb-1920-72397.jpg",
  location: "When a sadistic serial killer threatens Gotham, Batman is forced to investigate.",
  name: "The Batman"
},
{
  id: 4,
  image: "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5298bac0-b8bf-4c80-af67-725c1272dbb0/dfu6vo6-9d7336b6-aae1-48c9-a196-30c0dc8223a4.jpg/v1/fill/w_1192,h_670,q_70,strp/the_super_mario_bros_movie_wallpaper_by_thekingblader995_dfu6vo6-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcLzUyOThiYWMwLWI4YmYtNGM4MC1hZjY3LTcyNWMxMjcyZGJiMFwvZGZ1NnZvNi05ZDczMzZiNi1hYWUxLTQ4YzktYTE5Ni0zMGMwZGM4MjIzYTQuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.ChNuLMs7CCcHaI_JdZfBYGo0zkRcA9Gh3vTOyg1XRYY",
  location: "The story of The Super Mario Bros. on their journey through the Mushroom Kingdom.",
  name: "Super Mario Bros."
},
{
  id: 5,
  image: "https://cdn.wallpapersafari.com/76/30/ksaDjd.jpg",
  location: "Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.",
  name: "John Wick"
}
]


initialize(cards);


// Testemonials Start
const btn = document.getElementsByClassName("btn");
const slide = document.getElementById("slide");

btn[0].onclick = function () {
  slide.style.transform = "translateX(0px)";
  for (i = 0; i < 4; i++) {
    btn[i].classList.remove("active");
  }
  this.classList.add("active");
};

btn[1].onclick = function () {
  slide.style.transform = "translateX(-800px)";
  for (i = 0; i < 4; i++) {
    btn[i].classList.remove("active");
  }
  this.classList.add("active");
};

btn[2].onclick = function () {
  slide.style.transform = "translateX(-1600px)";
  for (i = 0; i < 4; i++) {
    btn[i].classList.remove("active");
  }
  this.classList.add("active");
};

btn[3].onclick = function () {
  slide.style.transform = "translateX(-2400px)";
  for (i = 0; i < 4; i++) {
    btn[i].classList.remove("active");
  }
  this.classList.add("active");
};


// Testemonials End
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
   
</body>
</html>