<!DOCTYPE html>
<html>
  <head>
    <title>JS Booking</title>
  </head>
  <body>
    <h1 style="text-align:center; padding-top: 190px;">Thank You for using our services!</h1>
    <p style="border-width:20px; border-style:solid; border-color:#008000; padding: 1em; text-align: center;"><b>We have received your reservation request and it has been successfully processed. An email has been sent to you as a confirmation.</b><br>
      <b>Click <a href="/index.html"><b>here</b></a> to return to the main menu.</b>
    </p>
    <p style="text-align:center; color: #FFFFFF">
      <b>CinemaBooking - Programming101 UACS</b>
      </p>
      </p>
    <p style="text-align:center; color: #FFFFFF">
      <b>2023</b>
      </p>
  </body>
</html>

<style>
  body {
    background-image: url('https://img.freepik.com/free-vector/cinema-room-background_1017-8728.jpg?w=996&t=st=1685392538~exp=1685393138~hmac=8a7625bfcbf34f5456c96b3128a64920026e673e773cb4b2becaf7f869cde400');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  }
  html {
  height: 100%;
  }
  </style>